[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/de-souza/hugo-flex.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/slick"]
	path = themes/slick
	url = https://github.com/spookey/slick.git
[submodule "themes/lightspeed"]
	path = themes/lightspeed
	url = https://github.com/carpetscheme/lightspeed.git
