[submodule "themes/even"]
	path = themes/even
	url = https://github.com/getzola/even.git
[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/hugo-coder."]
	path = themes/hugo-coder.
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
